:root {
  /* color */
  --background: hsl(0, 0%, 8%);
  --card-color: hsl(0, 0%, 12%);
  --link-color: hsl(0, 0%, 20%);
  --text-color: white;
  --link-hover: hsl(75, 94%, 57%);

  /* Border-sizing */
  --btn-border-radius: 10px;
  --image-border-radius: 50%;
}

* ::before,
::after {
  box-sizing: border-box;
}

a,
p {
  margin: 0;
  padding: 0;
}

/* Page background and centered card */
body {
  background-color: var(--background);
  align-items: center;
  justify-content: center;
  display: flex;
  color: var(--text-color);
  margin: 0;
  padding: 0;
  min-height: 100dvh;
  font-family: "Inter", sans-serif;
}

.card {
  background-color: var(--card-color);
  border-radius: var(--btn-border-radius);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 23%;
  padding: 1.5rem 2rem;
}

.link_img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.userName {
  font-size: 1.3rem;
  font-weight: 700;
  margin-block-start: 10px;
  margin-block-end: 5px;
}

.userLocation {
  color: var(--link-hover);
  font-size: 0.8rem;
  font-weight: 600;
  font-style: normal;
}

.userDesc {
  margin-block-start: 1.5rem;
  font-size: 0.9rem;
  margin-block-end: 1.5rem;
}

.Img_desc {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.profile__img {
  width: 5rem;
  height: 5rem;
  border-radius: var(--image-border-radius);
  margin-block-end: 0.5rem;
}

.profile__links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.profile__links a {
  display: block;
  border-radius: var(--btn-border-radius);
  margin-block-end: 1.1rem;
  padding: 0.8rem 1rem;
  background-color: var(--link-color);
  color: var(--text-color);
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  font-weight: 400;
}

.profile__links :hover,
.profile__links :focus {
  background-color: var(--link-hover);
  color: black;
  cursor: pointer black;
}
.instagram_link {
  padding: 0;
}

@media (max-width: 375px) {
  .card {
    width: 70%;
  }
}
