:root {
  /* color */
  --background: hsl(0, 0%, 8%);
  --card-color: hsl(0, 0%, 12%);
  --link-color: hsl(0, 0%, 20%);

  --text-color: white;

  /* Border-sizing */
  --btn-border-radius: 10px;
  --image-border-radius: 50%;
}

/* Page background and centered card */
body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  box-sizing: border-box;
  color: var(--text-color);
}

.card {
  justify-content: center;
  align-items: center;
  width: 30%;
  background-color: var(--card-color);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  box-sizing: border-box;
  font-size: 14px;
}

.link_img {
  width: 100%;
  background-color: green;
}

.link_img img {
  border-radius: var(--image-border-radius);
  padding: 3rem;
}

.profile__links {
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  display: flex;
  width: 100%;
}

.profile__links button {
  padding: 1rem 1.5rem;
  background-color: var(--link-color);
  border: none;
  width: 100%;
  border-radius: var(--btn-border-radius);
  margin-bottom: 1rem;
}

.profile__links button a {
  text-decoration: none;
  color: var(--text-color);
  text-transform: uppercase;
}
