:root {
  /* color */
  --background: hsl(0, 0%, 8%);
  --card-color: hsl(0, 0%, 12%);
  --link-color: hsl(0, 0%, 20%);

  --text-color: white;

  /* Border-sizing */
  --btn-border-radius: 10px;
  --image-border-radius: 50%;
}

/* Page background and centered card */
body {
  background-color: var(--background);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  display: flex;
  color: var(--text-color);
}

.card {
  background-color: var(--card-color);
  border-radius: var(--btn-border-radius);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 30%;
}

.link_img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile__img {
  width: 6rem;
  height: 6rem;
  border-radius: var(--image-border-radius);
}

.Img_desc {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.profile__links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}
